network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - "{{ ip_address }}/24"
      gateway4: "{{ ip_gateway }}"
      nameservers:
        addresses:
          - 8.8.8.8
          - 8.8.4.4
